.App {
  text-align: right;
  color: rgb(114, 87, 114);
  letter-spacing: .5em;
  font-size: large;
  font-size: 18px;
  padding: 2em;
}
body {
  background-image: url(./images/diamond.png);
  font-family: 'Open Sans Condensed', 'sans-serif';
}
h2 {
    text-align: left;
}

.btn .btn-secondary{
  font-size: 16;
  letter-spacing: 1em;
}