.App {
  text-align: center;
  color: rgb(114, 87, 114);
  letter-spacing: 1em;
  font-size: large;
  font-size: 18px;
  padding: 4em;
}
body {
  background-image: url(./images/squares.png);
  font-family: 'Open Sans Condensed', 'sans-serif';
}
